html,
body {
  height: 100%;
  margin: 0
}
.first {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #fffcf7;
  background-image: url("../img/k2bi_eike.jpg");
  background-size: cover;
}
.wrap {
/*  border: 3px solid #000;*/
  margin: 1rem;
  padding: 1rem;
  flex: auto;
}
.name {
  font-family: 'Megrim', cursive;
  font-size: 3rem;
  margin-bottom: 0;
}
 .main_data {
   font-family: monospace;
   margin-bottom: 3rem;
   font-size: 1rem;
 }
.social {
  width: 3rem;
  margin-right: 2rem;
}

@media screen and (min-width: 42em) {
  .wrap{
    margin: 2rem;
    padding: 6rem;
  }
}
