body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 1.5rem;
  background-color: #fff;
  margin: 0;
}

.profile__wrapper {
  width: 20em;
  margin: 5em auto 0;
  text-align: center;
}

.profile__wrapper img {
  border-radius: 50%;
  width: 8em;
}

.profile__wrapper h1 {
  font-size: 40px;
  font-weight: 400;
  color: #222;
  margin-bottom:0;
}

.profile__wrapper p {
  font-size: 20px;
  font-weight: 300;
  color: #aaa;
}

.profile__list {
  list-style: none;
  margin-left: 5em;
}

.profile__list li {
  width: 2em;
  float: left;
}

.profile__list a {
  text-decoration: none;
  color: #aaa;
}
.profile__list a:hover {
  color: #222;
}


#popup-wrapper {
  background: rgba(0,0,0,.4);
  cursor: pointer;
  display: flex;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.popup {
  width: 20em;
  box-shadow: 10px 10px 60px #555;
}