@charset "UTF-8";
/*
Css korda
värvid üles
  proovi teisi värvikombosid. leia selline lihtne lahendus et soovi korral saab coolorsist uue paleti võtta ja lihtsalt ühte kohta pasteda ning
  juba teistsugune fiiling
mixinid flexboxile

boxi animatsioon peale minnes
boxi leht nagu haiku: järgmine, eelmine ja x-ist kinni.
kolm punkti avab menüü kus on minu tutvustus - pilt, kontaktlingid (samad mis suurel piltil hetkel + email + cv?)
*/
html,
body {
  height: 100%;
  margin: 0; }

.first {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: linear-gradient(to right, #fffcf7, #3e3b3b);
  background-image: url("../img/DSC_0222.jpg");
  background-position: center;
  background-size: cover; }

.wrap {
  /*  border: 3px solid #000;*/
  margin: 1rem;
  padding: 1rem;
  flex: auto; }

.name {
  font-family: 'Megrim', cursive;
  font-size: 3rem;
  margin-bottom: 0; }

.main_data {
  font-family: monospace;
  margin-bottom: 3rem;
  font-size: 1rem; }

.social {
  width: 3rem;
  margin-right: 2rem; }

@media screen and (min-width: 42em) {
  .wrap {
    margin: 2rem;
    padding: 6rem; } }
/*** header ***/
header {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(#eae2b7, rgba(0, 0, 0, 0));
  z-index: 10; }

header ul {
  display: inline;
  list-style: none; }

header ul li {
  float: left;
  margin: 2rem; }

header ul li:last-child {
  float: right; }

/*.logo {
  height: 2rem;
  width: 2rem;
  border: 3px solid #000;
  border-radius: 50%;
}*/
/*.burx {
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  background: #000;
  position: relative;
}
.burx::before, .burx::after {
  content: '';
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: 1rem;
}
.burx::after {
  right: 2rem;
}*/
/** portfolio **/
.portfolio_bg {
  background-color: #eae2b7; }

.container {
  display: flex;
  flex-flow: row wrap;
  /*align-items: flex-start;*/
  /*align-content: flex-start;*/
  justify-content: flex-start; }

.item {
  flex-basis: 44%;
  /*21*/
  height: 12rem;
  margin: 1rem auto;
  background-color: #fcbf49;
  transition: .5s;
  position: relative;
  border: 1px solid transparent; }

.item {
  width: 20rem;
  height: 15rem;
  margin: 1rem auto;
  transition: 1s;
  position: relative;
  overflow: hidden; }
  .item .bg {
    width: 20rem;
    height: 15rem;
    position: absolute;
    background-image: url("https://www.success.com/sites/default/files/main/blogposts/howtobeconstantlycreative.jpg");
    background-size: cover;
    background-position: center;
    transition: 1s; }
  .item .fg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 80%;
    opacity: 0;
    border: 1px solid white;
    color: white;
    transition: 1s; }
    .item .fg h1 {
      padding-left: 15px;
      font-family: 'Saira Semi Condensed', sans-serif;
      text-shadow: 1px 1px 1px #000;
      margin: 0; }
  .item:hover .bg {
    filter: sepia(1);
    transform: scale(1.2); }
  .item:hover .fg {
    opacity: 1; }

@media screen and (min-width: 64em) {
  .item {
    flex-basis: 21%;
    /*21*/ } }
.item:hover {
  /*background-color: #f77f00;*/
  border: 1px solid #f77f00; }


/*******************************/
/********** PROJECTS ***********/
/*******************************/
.projects {
    font-family: 'Open Sans', cursive;
}
.projects h2 {
  font-family: 'Exo', sans-serif;;
}
.projects h4 {
font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.p_intro {
  background: #E1DBCA;
}
a[href^="http"]:empty::before {
  content: attr(href);
}
.store_icon {
  height: 3rem;
}
.clear{
  float: left;
  clear: both;
}
.no-clear {
  float: left;
}
.columns {
  padding-bottom: 1rem;
}
.mask_bg {

}
.mask {
width: 138px;
height: 50px;
background: transparent;
/*?*/overflow: hidden;
/*?*/display: inline-block;
-webkit-clip-path: polygon(54% 16%, 83% 15%, 94% 19%, 95% 44%, 87% 67%, 61% 78%, 31% 83%, 23% 73%, 23% 45%, 28% 26%);
clip-path: polygon(54% 16%, 83% 15%, 94% 19%, 95% 44%, 87% 67%, 61% 78%, 31% 83%, 23% 73%, 23% 45%, 28% 26%);
display:inline-block;
background-color: yellow;
width: 102px;
left: 40px;
top: 17px;
height: 35px;

}
