// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
@import url('https://fonts.googleapis.com/css?family=Lato');


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

body, html, h1, h2, h3, h4, h5, h6, p, a, sub, sup {
  font-family: 'Lato', sans-serif;
}
// bg
.greybg .scroll-content {
  background-color: #DFE2EB;
}
// icons color
.sub {
  color: #8a8a8a;
}
.full_width {
  width: 100%;
}


// menu
.menu_btn {
  width: 100%;
  .button-inner {
    margin-left: 5rem;
    justify-content: flex-start;
  }
}
.menu_img{
  width: 6rem;
  margin: 5rem auto 3rem auto;
  img {
    border-radius: 50%;
    width: 100%;
  }
}

// sign In page
.signin {
  .signin_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: auto;
    background: url(../assets/imgs/logo.png);
    margin-top: 5rem;
  }
  h1 {
    margin-top: 3rem;
  }
}

.facebook {
  font-size: 4rem;
  text-transform: lowercase;
  color: #878794;
  font-family: unset;
  font-weight: 600;
}
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #2f2f2f,
  lightgrey:  #E9ECF4,
  midgrey:    #DFE2EB,
  darkgrey:   #1F2735
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
