@font-face {
  font-family: 'Eau-SansBold';
  src: url('Eau-SansBold.eot');
  src: url('Eau-SansBold.woff2') format('woff2'),
       url('Eau-SansBold.woff') format('woff'),
       url('Eau-SansBold.ttf') format('truetype'),
       url('Eau-SansBold.svg#Eau-SansBold') format('svg'),
       url('Eau-SansBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

