<ion-menu side="left" [content]="content">
  <ion-content class="greybg menu">

    <ion-list>

      <div class="menu_img">
        <img width="30rem" src="../assets/imgs/logo.png" alt="" />
      </div>

      <button ion-button clear color="dark" class="menu_btn" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon *ngIf="p.icon" name="{{p.icon}}" item-left></ion-icon>
        <span padding-left *ngIf="p.title">{{p.title}}</span>
      </button>

    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
