<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Post</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item  *ngIf="post">
   <ion-avatar item-start>
     <img [src]="post.data.thumbnail">
   </ion-avatar>
   <h1>{{post.data.author}}</h1>
 </ion-item>

  <ion-item  *ngIf="post">
    <img class="full_width" [src]="post.data.url"/>
 </ion-item>
  <!-- <ion-item  *ngIf="post"> -->
    <h4 padding marging>{{post.data.title}}</h4>
 <!-- </ion-item> -->

  <p *ngIf="post">Url: {{post.data.domain}}</p>
  <p *ngIf="post">Created: {{post.data.created_utc}}</p>
  <p *ngIf="post">Score: {{post.data.score}}</p>





</ion-content>
