// VARIABLES

$clockSize: 360px;
$clockPadding: ($clockSize / 14.4);
$clockBackground: #e0e2db;
$innerBackground: #F8ECB8;
$seiersBackground: #3C342A;
$numbersBackground: #362B26;
$innerBorderWidth: ($clockSize / 72);
$innerBorderColor: #e9b44c;
$secondHandBackgroundColor: #ec231e;

// DOCUMENT

html, body{
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #D2D2D2, #73877b);
}
* {
  box-sizing: border-box !important;
}
// ---- CLOCK

.clock {
  width: $clockSize;
  height: $clockSize;
  padding: $clockPadding;
  background-color: $clockBackground;
  border-radius: 50%;
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}
.inner{
    position: relative;
    width: 100%;
    height: 100%;
    background: $innerBackground;
    border: $innerBorderWidth solid $innerBorderColor;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.75) inset;
      .border1 {
    position: absolute;
    top: .45rem;
    left: .58rem;
    width: 94%;
    height: 94%;
    border: 1px solid #8e8e8e;
    border-radius: 100%;
  }
   .border2 {
    position: absolute;
    top: .8rem;
    left: .98rem;
    width: 90%;
    height: 90%;
    border: 1px solid #8e8e8e;
    border-radius: 100%;
  }
  .hand {
      position: absolute;
      top: 50%;
      left: 50%;
      width: ($clockSize / 50);
      background-color: $seiersBackground;

    &.hour {
        margin-top: -($clockSize / 11);
        transform: rotate(0deg) translate(-50%, -50%);
        transform-origin: 0 ($clockSize / 11);
        width: ($clockSize / 40);
        border: .2rem solid transparent;
        border-bottom: ($clockSize / 3) solid $seiersBackground;
        background-color: transparent;
      &:before {
           content: '';
           position: absolute;
           top: 1.1rem;
           left: -.535rem;
           background: $seiersBackground;
           height:1.3rem;
           width: 1.3rem;
           border-radius: 0 50% 50% 50%;
           transform: rotate(50deg) skew(10deg);
      }
    }
      &.minute {
        margin-top: -($clockSize / 7);
        transform: rotate(0deg) translate(-50%, -50%);
        transform-origin: 0 ($clockSize / 7);
        width: ($clockSize / 50);
        border: .2rem solid transparent;
        margin-bottom: -2rem;
        border-bottom: ($clockSize / 2.2) solid $seiersBackground;
        background-color: transparent;
       // border-radius: 20%;

          &:before, &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          left: 0rem;
          top: 4.5rem;
          border: .3rem solid transparent;
          border-top: 2rem solid $seiersBackground;
          transform: translate(-50%, -50%);
        }
        &:after {
          top: 2.4rem;
          border: .3rem solid transparent;
          border-bottom: 2rem solid $seiersBackground;
        }
      }

      &.second {
        width: ($clockSize / 185);
        height: ($clockSize / 3);
        background-color: $seiersBackground;
        margin-top: -($clockSize / 10);
        box-shadow: -4px -6px 0 0 rgba(0, 0, 0, 0.15);
        transform: rotate(0deg) translate(-50%, -50%);
        transform-origin: 0 ($clockSize / 10);

        &:before, &:after {
          content: '';
          display: inherit;
          position: inherit;
          left: inherit;
          background-color: inherit;
          border-radius: 100%;
          transform: translate(-50%, -50%);
        }
        &:before{
          top: ($clockSize / 3.8);
          width: ($clockSize / 20);
          height: ($clockSize / 20);
          box-shadow: -2px -2px 2px 0 rgba(0, 0, 0, 0.15);
        }
        &:after{
          top: ($clockSize / 3);
          width: ($clockSize / 50);
          height: ($clockSize / 25);
          box-shadow: -4px -6px 2px 0 rgba(0, 0, 0, 0.15);
        }
      }
    }

  .graduations {
    .graduation {
        display: block;
        position: absolute;
        top: ($innerBorderWidth * 1.5);
        left: 50%;
        width: ($clockSize / 185);
        height: ($clockSize / 60);
        background-color: #362B26;
        transform: rotate(0deg) translateX(-50%);
        transform-origin: 0 ((($clockSize - ($clockPadding * 2)) / 2) - ($innerBorderWidth * 3));

      &:nth-child(5n-4) {
          width: ($clockSize / 90);
          height: ($clockSize / 40);
      }

      @for $i from 1 through 60 {
          &:nth-child(#{$i}) {
            transform: rotate(#{( 6 * $i) - 5}deg) translateX(-50%);
          }
      }
    }
  }
}
.numbers {
  font-family: 'Old Standard TT', serif;
  font-size: 2rem;
  color: $numbersBackground;
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelwe {
    position: absolute;
    letter-spacing: -5px;
  }
   .one {
    top: 2rem;
    left: 12.5rem;
  }
  .two {
    top: 4.7rem;
    left: 14.3rem;
  }
  .three {
    top: 8.36rem;
    left: 15.5rem;
  }
  .four {
    top: 11.5rem;
    left: 14.5rem;
  }
  .five {
    top: 14rem;
    left: 12rem;
  }
  .six {
    top: 15rem;
    left: 8.2rem;
  }
  .seven {
    top: 14rem;
    left: 4.5rem;
  }
  .eight {
    top: 11.6rem;
    left: 2.2rem;
  }
  .nine {
    top: 8rem;
    left: 1.5rem;
  }
  .ten {
    top: 4.5rem;
    left: 2.6rem;
  }
  .eleven {
    top: 2.3rem;
    left: 4.9rem;
  }
  .twelwe {
    top: 1.5rem;
    left: 8.2rem;
  }
}
